/* <----- header -----> */

header {
  display: grid;
  width: 100%;
  background: none;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  transition: 0.2s;
  background-color: transparent;
  border-bottom: 1px solid  rgb(243, 239, 239);
}
.show .active > .header{
  box-shadow: none;
} 



.active{
  box-shadow: rgba(58, 78, 95, 0.2) 0 10px 16px, rgba(58, 78, 95, 0.05) 0 -5px 16px;
}
.active .show{
  box-shadow: none;
} 

.hed{

  line-height: 60px;
}
.active{
  background-color: #fff;
}
.logo {
  display: inline-block;
  float: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;

}
.logo > a{
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  
  line-height: 60px;

}
.active .logo > a{
 color: red;

}
.nav {
  display: inline-block;
  float: right;
  
}
.progress-bar{
  display: inline-block;
}
.link{
  line-height: 60px;
}
.link:hover {
}

.bar{

  height: 3px;
  background-color: red;
  animation-name: loading;
  animation-duration: 2s;
}
@keyframes loading {
  0% {
      width: 0;
  }
  100% {
      width: 100%;
  }
}

.menu-main-h > a {

  text-align: right;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  padding-left: 20px;
}

.active .menu-main-h > a {
  color: #000;
}
.menu-main-h {
  display: block;
  float: left;
  position: relative; 
  margin-top: 9px;
}
.show  > .menu-mob-h{
  display: block;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px; 
  position: fixed; 
  width: 100%; 
  float: left;
  box-shadow: transparent;
  
}

.show  > .menu-mob-h > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #000;
  font-weight: 600;
  padding: 15px;
  border-bottom: 1px solid rgb(243, 239, 239);
  text-align: left;
 /* outline: 5px auto -webkit-focus-ring-color;*/
}
.show  > .menu-mob-h > a:last-of-type{
  border-bottom: none;
  margin-bottom: -10px;
}

.menu-mob-h{
  display: none;
  background:#c4c4c4;
  position: relative; 
  padding-top: 10px;
  padding-bottom: 10px; 
  position: relative;
  width: 100%; 
  z-index: 1;
}


.mob-menu-ico-h {
  display: none; 
  background:transparent; 
  float: right;
  position: relative; 
  margin-top: 5px;
}

.mob-menu-icon {
  display: block; 
  width: 40px; 
  height: 40px; 
  position: relative; 
  padding:10px; 
  float: right;
  cursor: pointer;
  background-color: #f34236;
  color: #fff;
  margin-top: 5px;
}
.mob-menu-icon:focus {

  outline: 5px auto -webkit-focus-ring-color;
 }

.menu-ico-str {
  display: block; 
  float: left; 
  position: relative; 
  width: 25px; 
  height: 2px; 
  background-color:#fff; 
  margin-bottom: 2px; 
  margin-top: 3px; 
  border-radius: 2px;
  text-align: center;
  margin-left: -2px;
}

.menu-mob-h a {
  display: block; 
  width: 100%; 
  padding:5px; 
  text-align: center;
}
@media only screen and (max-width : 990px) {
  .menu-main-h {display: none; height: auto;}
  .mob-menu-ico-h {display: block;}
}

/* <----- hero -----> */

/* <----- about me -----> */

.container-aboutMe {
  background: #ffffff;
}

.portfolioPic {
  height: 425px;
  max-width: 100%;
  border: solid 10px #ffffff;
  border-radius: 5px;
  vertical-align: middle;
  box-shadow: -1px 0px 6px 4px rgba(0, 0, 0, 0.1);
}

.aboutMe-right-column {
  display: inline-block;
  float: left;
  width: 40%;
  box-shadow: 3px #82828a;
}

.aboutMe-left-column {
  display: inline-block;
  float: left;
  width: 60%;
  padding-left: 50px;
  text-align: left;
}

.aboutMe-title {
  font-size: 32px;
  padding: 20px 20px 20px 0px;
  margin-left: 0px;
  position: relative;
}

.aboutMe-title::after {
  content: "";
  position: absolute;
  background: black;
  width: 60px;
  height: 3px;
  bottom: 11px;
  left: 0;
}

.aboutMe-me {
  color: red;
}

.aboutMe-hello {
  font-size: 20px;
  padding: 0px 20px 20px 0px;
}

.aboutMe-paragraph {
  font-size: 16px;
  color: #82828a;
  padding: 0 0 20px 0px;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.6;
}

.aboutMe-socials {
  display: flex;
  width: 100%;
  float: left;
  /* background-color: orange; */
  border-bottom: 1px solid #ffffff;
  text-align: center;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  margin-left: 0;
}

.aboutMe-socials > a {
  padding: 10px;
  text-decoration: none;
  background-color: black;
  color: white;
  line-height: 20px;
  height: 40px;
  margin: 3px;
  width: 40px;
  border-radius: 4px;
}
.aboutMe-socials > a:hover {
  padding: 10px;
  text-decoration: none;
  line-height: 20px;
  height: 40px;
  margin: 3px;
  width: 40px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.aboutMe-button {
  display: flex;
  width: 100%;
  float: left;
}

.btn-downloadCV {
  margin-left: 10px;
}

/* <----- my services -----> */

.container-services {
    padding-left: 80px;
    padding-right: 80px;
    gap: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    
}

@media (max-width: 700px) {
    .container-services {
      padding-left: 10px;
      padding-right: 10px;
    }
  } 

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 4;
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border: solid 5px rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.1);
}

@keyframes hover{
    from {transform: translatey(0px);}
    to {transform: translatey(-10px);}

}

.card:hover {
    border: solid 5px rgb(255, 40, 40);
    transition-duration: 0.9s;
    animation: hover 0.3s ease-out forwards;
}

.container-services .fas {
    font-size: 60px;
    color: rgb(255, 40, 40);
}

.card-heading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.card-p {
    font-weight: lighter;
    font-size: 18px;
    color: #82828a;

}


/* <----- my resume -----> */

/* <----- hire me -----> */
.hireMe {
  background-color: #f34236;
  padding: 50px 0;
  border-color: #ffffff;
  text-align: center !important;
}
.freelance {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}
.btn-white {
  padding: 12px 25px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  background: #ffffff;
  color: #f34236;
  border-color: #ffffff;
  box-shadow: 0px 8px 15px rgba(17, 17, 17, 0.1);
}
/* <----- my portfolio -----> */

/* <----- testimonials -----> */

/* <----- my blogs -----> */

/* <----- contact me -----> */

/* <----- footer -----> */
