/* <----- header -----> */

header {
  display: grid;
  width: 100%;
  height: 60px;
  background: none;
  margin-top: 30px;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.5s ease;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}
.logo {
  display: inline-block;
  float: left;
  height: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}
.logo > a{
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;

}
.nav {
  display: inline-block;
  float: right;
  margin-left:10px;
}
.menu-main-h > a {

  text-align: right;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  padding-left: 20px;
}

.menu-main-h {
  display: block;
  float: left;

  position: relative; 
}
.show  > .menu-mob-h{
  display: block;
  background:#c4c4c4;
  padding-top: 10px;
  padding-bottom: 10px; 
  position: relative; 
  width: 100%; 
  float: left;
  
}

.menu-mob-h{
  display: none;
  background:#c4c4c4;
  position: relative; 
  padding-top: 10px;
  padding-bottom: 10px; 
  position: relative;
  width: 100%; 
}


.mob-menu-ico-h {
  display: none; 
  background:transparent; 
  float: right;
  position: relative; 
  margin-top: -9px;
}

.mob-menu-icon {
  display: block; 
  width: 40px; 
  height: 40px; 
  position: relative; 
  padding:10px; 
  float: right;
  cursor: pointer;
  background-color: red;
  color: #fff;
  margin-top: -5px;
}

.menu-ico-str {
  display: block; 
  float: left; 
  position: relative; 
  width: 25px; 
  height: 2px; 
  background-color:#fff; 
  margin-bottom: 2px; 
  margin-top: 3px; 
  border-radius: 2px;
}

.menu-mob-h a {
  display: block; 
  width: 100%; 
  padding:5px; 
  text-align: center;
}
@media only screen and (max-width : 990px) {
  .menu-main-h {display: none; height: auto;}
  .mob-menu-ico-h {display: block;}
}

/* <----- hero -----> */

/* <----- about me -----> */
.portfolioPic {
  background-image: url(../img/avtar-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 425px;
  width: 425px;
  border: solid 10px #ffffff;
  border-radius: 5px;
  vertical-align: middle;
  box-shadow: -1px 0px 6px 4px rgba(0, 0, 0, 0.1);
}

.aboutMe-container {
  display: inline-block;
  width: 100%;
  background-color: #fafbfb;
}

.row-aboutMe {
  display: inline-block;
  width: 100%;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.aboutMe-right-column {
  display: inline-block;
  float: left;
  width: 40%;
  box-shadow: 3px #82828a;
}

.aboutMe-left-column {
  display: inline-block;
  float: left;
  width: 60%;
  padding-left: 50px;
}

.aboutMe-title {
  font-size: 32px;
  padding: 20px 20px 20px 0px;
  margin-left: 0px;
  position: relative;
}

.aboutMe-title::after {
  content: "";
  position: absolute;
  background: black;
  width: 60px;
  height: 3px;
  bottom: 11px;
  left: 0;
}

.aboutMe-me {
  color: red;
}

.aboutMe-hello {
  font-size: 20px;
  padding: 0px 20px 20px 0px;
}

.aboutMe-first-paragraph {
  font-size: 16px;
  color: #82828a;
  padding: 0 0 20px 0px;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
}

.aboutMe-second-paragraph {
  font-size: 16px;
  color: #82828a;
  padding: 0 0 20px 0px;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
}

.aboutMe-socials {
  display: flex;
  width: 100%;
  float: left;
  /* background-color: orange; */
  border-bottom: 1px solid #ffffff;
  text-align: center;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 0;
  margin-left: 0;
}

.aboutMe-socials > a {
  padding: 10px;
  text-decoration: none;
  background-color: black;
  color: white;
  line-height: 20px;
  height: 40px;
  margin: 3px;
  width: 40px;
  border-radius: 4px;
}
.aboutMe-socials > a:hover {
  padding: 10px;
  text-decoration: none;
  line-height: 20px;
  height: 40px;
  margin: 3px;
  width: 40px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.aboutMe-button {
  display: flex;
  width: 100%;
  float: left;
}

.btn-downloadCV {
  margin-left: 10px;
}

/* <----- my services -----> */

/* <----- my resume -----> */

/* <----- hire me -----> */

/* <----- my portfolio -----> */

/* <----- testimonials -----> */

/* <----- my blogs -----> */

/* <----- contact me -----> */

/* <----- footer -----> */
