/* <----- header -----> */

header {
  display: grid;
  width: 100%;
  background: none;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  transition: 0.2s;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.123);
}

.hed {
  line-height: 60px;
}
.active {
  background-color: #fff;
  box-shadow: rgba(58, 78, 95, 0.2) 0 10px 16px,
    rgba(58, 78, 95, 0.05) 0 -5px 16px;
}
.logo {
  display: inline-block;
  float: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}
.logo > a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  padding: 0 !important;
  line-height: 70px;
}
.active .logo > a {
  color: red;
}
.nav {
  display: inline-block;
  float: right;
}
.progress-bar {
  display: inline-block;
  margin-top: -5px;
}

.link {
  line-height: 70px;
  text-align: right;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  padding-left: 20px;
}

.bar {
  height: 3px;
  background-color: red;
  animation-name: loading;
  animation-duration: 1s;
}
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.barafter {
  height: 3px;
  width: 0%;
  margin-left: auto;
  background-color: red;
  animation-name: loading1;
  animation-duration: 0.5s;
}
@keyframes loading1 {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.menu-main-h > a {
  text-align: right;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  padding-left: 20px;
}

.active .menu-main-h > .progress-bar > .link {
  color: #000;
}
.menu-main-h {
  display: block;
  float: left;
  position: relative;
  margin-top: 9px;
}
.show > .menu-mob-h {
  display: block;
  background: #fff;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  float: left;
  box-shadow: transparent;
}

.show > .menu-mob-h > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #000;
  font-weight: 600;
  line-height: 40px;
  padding-left: 20px;
  border-top: 1px solid rgb(243, 239, 239);
  text-align: left;
  z-index: 100;
  /* outline: 5px auto -webkit-focus-ring-color;*/
}
.show > .menu-mob-h > a:last-of-type {
  margin-bottom: -10px;
}

.menu-mob-h {
  display: none;
  background: #c4c4c4;
  position: relative;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.mob-menu-ico-h {
  display: none;
  background: transparent;
  float: right;
  position: relative;
  margin-top: 10px;
}

.mob-menu-icon {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  padding: 10px;
  float: right;
  cursor: pointer;
  background-color: #f34236;
  color: #fff;
  margin-top: 5px;
}

.new {
  outline: auto;
  outline-color: blue;
}

.menu-ico-str {
  display: block;
  float: left;
  position: relative;
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 2px;
  margin-top: 3px;
  border-radius: 2px;
  text-align: center;
  margin-left: -2px;
}

.menu-mob-h a {
  display: block;
  width: 100%;
  text-align: center;
}

/*.menu-mob-h > .home-menu{
  border: 1px solid rgb(243, 239, 239);;
  height: 50px;
  width: 50px;
  margin-bottom: -40px;
  margin-left: 100px;
}*/
@media only screen and (max-width: 990px) {
  .menu-main-h {
    display: none;
    height: auto;
  }
  .mob-menu-ico-h {
    display: block;
  }
}

/* <----- hero -----> */

.hero {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: space-between;
  background-image: url(/img/home.jpg);
  background-size: cover;
  height: 100vh;
  margin-top: -71px;
  color: #ffffff;
}

.hero-div {
  padding-left: 20px;
  padding-right: 20px;
}

.hello {
  padding-top: 71px;
  font-size: 40px;
  font-weight: lighter;
}

.martin-name {
  font-size: 80px;
  font-weight: 500;
}

@media (max-width: 700px) {
  .martin-name {
    font-size: 60px;
  }
}

.hero-div .btn {
  margin-top: 40px;
}

/* <----- about me -----> */

.container-aboutMe {
  background: #ffffff;
}

.portfolioPic {
  height: 425px;
  max-width: 100%;
  border: solid 10px #ffffff;
  border-radius: 5px;
  vertical-align: middle;
  box-shadow: -1px 0px 6px 4px rgba(0, 0, 0, 0.1);
}

.aboutMe-right-column {
  display: inline-block;
  float: left;
  width: 40%;
  box-shadow: 3px #82828a;
}

.aboutMe-left-column {
  display: inline-block;
  float: left;
  width: 60%;
  padding-left: 50px;
  text-align: left;
}

.aboutMe-title {
  font-size: 32px;
  padding: 20px 20px 20px 0px;
  margin-left: 0px;
  position: relative;
}

.aboutMe-title::after {
  content: "";
  position: absolute;
  background: black;
  width: 60px;
  height: 3px;
  bottom: 11px;
  left: 0;
}

.aboutMe-me {
  color: red;
}

.aboutMe-hello {
  font-size: 20px;
  padding: 0px 20px 20px 0px;
}

.aboutMe-paragraph {
  font-size: 16px;
  color: #82828a;
  padding: 0 0 20px 0px;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.6;
}

.aboutMe-socials {
  display: flex;
  width: 100%;
  float: left;
  /* background-color: orange; */
  border-bottom: 1px solid #ffffff;
  text-align: center;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  margin-left: 0;
}

.aboutMe-socials > a {
  padding: 10px;
  text-decoration: none;
  background-color: black;
  color: white;
  line-height: 20px;
  height: 40px;
  margin: 3px;
  width: 40px;
  border-radius: 4px;
}
.aboutMe-socials > a:hover {
  padding: 10px;
  text-decoration: none;
  line-height: 20px;
  height: 40px;
  margin: 3px;
  width: 40px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.aboutMe-button {
  display: flex;
  width: 100%;
  float: left;
}

.btn-downloadCV {
  margin-left: 10px;
}

/* <----- my services -----> */

.container-services {
  gap: 35px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 4;
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border: solid 5px rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
}

@keyframes hover {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-10px);
  }
}

.card:hover {
  border: solid 5px rgb(255, 40, 40);
  transition-duration: 0.9s;
  animation: hover 0.3s ease-out forwards;
}

.container-services .fas {
  font-size: 60px;
  color: rgb(255, 40, 40);
}

.card-heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.card-p {
  font-weight: lighter;
  font-size: 18px;
  color: #82828a;
}

/* <----- my resume -----> */
.resume {
  background-color: white;
}
.resume-tittle {
  width: 100%;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  margin-bottom: 60px;
}
.resume-tittle:after {
  width: 60px;
  height: 3px;
  background: #111111;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -10px;
}
.resume-column {
  display: inline-block;
  width: 100%;
}
.resume-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
}
.work {
  padding: 30px;
  text-align: left;
  background-color: rgb(255, 255, 255);
  border: solid 5px rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
}
.work > h1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  color: #f34236;
  text-transform: uppercase;
}
.work > h2 {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.work > h3 {
  text-transform: uppercase;
  color: #828282;
  font-weight: 400;
  margin-bottom: 7px;
  font-size: 18px;
}
.work > p {
  color: #828282;
  font-weight: 400;
  padding-bottom: 40px;
  font-size: 18px;
}

/* <----- hire me -----> */
.hireMe {
  background-color: #f34236;
  padding: 50px 0;
  border-color: #ffffff;
  text-align: center !important;
}
.freelance {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}
.btn-white {
  padding: 12px 25px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  background: #ffffff;
  color: #f34236;
  border-color: #ffffff;
  box-shadow: 0px 8px 15px rgba(17, 17, 17, 0.1);
}
/* <----- my portfolio -----> */
.portfolioTitle {
  text-align: center;
  margin-top: 100px;
  font-size: 35px;
  position: relative;
}
.portfolioTitle2:after {
  width: 60px;
  height: 3px;
  background: #111111;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -10px;
  
}
.gallery {
  display: grid;

}
  .galery > .filter{
    

  }
    .gallery > .filter > .option {
      display: inline-block;
      cursor: pointer;
      margin: 60px 15px 30px;
      color: #111111;
      position: relative;
      padding: 5px 0;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      line-height: normal;
      
    }
  .gallery > .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
  }
    .gallery > .list > .item {
      box-sizing: border-box;
      padding: 10px;
      background-color: #ffffff;
      box-shadow: rgba(58, 78, 95, 0.2) 0 10px 16px,
    rgba(58, 78, 95, 0.05) 0 -5px 16px;
     }
      .gallery > .list > .item > .image{
        width: 100%;
        position: relative;

      }
        .gallery > .list > .item > .image > img {
          display: inline-block;
          width: 100%;
          height: 350px;
          
       }
       .gallery > .list > .item > .image > .hover {
         display: none;
         position: absolute;
         top: 0;
         right: 0;
         bottom:0;
         left: 0;
         background-color: rgba(17, 17, 17, 0.4) ;

       }
       .gallery > .list > .item > .image > .hover > .plus {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-image: "./img/portfolioImg/plus.png" ;
       }
          .gallery > .list > .item:hover > .image > .hover {
            display: inline-block;

       }
     .gallery > .list > .item > .image > .hover > .title{
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      background: #f34236;
      font-size: 16px;
      padding: 20px;
      margin: 0;
      font-weight: 500;
      text-align: center;
  }
   .gallery > .list > .item > .image > .hover > .title > a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;

     }
     .gallery > .list > .item > .tags {

     }
       .gallery > .list > .item > .tags > .tag {

    }


/* <----- testimonials -----> */

/* <----- my blogs -----> */

/* <----- contact me -----> */

/* <----- footer -----> */
.footer {
  display: inline-block;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #212121;
  padding-top: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}
.foolog {
  font-family: "Poppins", sans-serif;
  color: white;
  padding-bottom: 30px;
  font-size: 43px;
  font-weight: 900;
  line-height: 43px;
}
.foo-socials {
  text-decoration: none;
  color: #999999;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 100px;
  line-height: 40px;
  height: 40px;
  margin: 3px;
  border-radius: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}
.foo-socials > a {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  padding-bottom: 30px;
  text-decoration: none;
  background-color: black;
  color: #999999;
  line-height: 20px;
  height: 40px;
  margin: 3px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: center;
  text-align: center;
}
a:hover {
  color: #fff;
}
.copyright {
  text-decoration: none;
  color: #999999;
  padding: 20px 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
