body {
  background-color: #f3f3f3;
  margin-top: 71px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "head"
    "feed"
    "footer";
}

body > header {
  grid-area: head;
}

main {
  grid-area: feed;
}

.container-fluid {
  display: grid;
  grid-template-columns: 1fr 1300px 1fr;
}
.container-fluid > .row {
  grid-column: 2 / 3;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1300px 1fr;
  text-align: center;
  padding: 100px 0;
}

.container > .row {
  grid-column: 2 / 3;
}

body > footer {
  grid-area: footer;
  grid-column: 1 / 4;
}

@media (max-width: 1500px) {
  .container,
  .container-fluid {
    grid-template-columns: 1fr 1100px 1fr;
  }
}
@media (max-width: 1300px) {
  .container,
  .container-fluid {
    grid-template-columns: 1fr 1100px 1fr;
  }
}
@media (max-width: 1200px) {
  .container,
  .container-fluid {
    grid-template-columns: 1fr 900px 1fr;
  }
}
@media (max-width: 1000px) {
  .container,
  .container-fluid {
    grid-template-columns: 1fr 700px 1fr;
  }
}
@media (max-width: 767px) {
  .container,
  .container-fluid {
    grid-template-columns: 1fr 600px 1fr;
  }
}
@media (max-width: 580px) {
  .container,
  .container-fluid {
    grid-template-columns: 15px 1fr 15px;
  }
}
